DATABASE_URL="postgresql://kondo:kondo_password@localhost:5432/kondo_v1_clean?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
PAYMENT_MODE="mock"
MOCK_PAYMENT_WEBHOOK_SECRET="dev_mock_secret"

MTN_MOMO_ENV="sandbox"
MTN_MOMO_BASE_URL=""
MTN_MOMO_SUBSCRIPTION_KEY=""
MTN_MOMO_API_USER=""
MTN_MOMO_API_KEY=""
MTN_MOMO_CALLBACK_SECRET=""

ORANGE_MONEY_ENV="sandbox"
ORANGE_MONEY_BASE_URL=""
ORANGE_MONEY_CLIENT_ID=""
ORANGE_MONEY_CLIENT_SECRET=""
ORANGE_MONEY_MERCHANT_KEY=""
ORANGE_MONEY_CALLBACK_SECRET=""
